{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "extends": ["airbnb/base"],
  "parserOptions": { "ecmaVersion": 9 },
  "rules": {
    "semi": "off",
    "no-console":"warn",
    "arrow-body-style":"off",
    "no-unused-vars":"warn",
    "indent":"warn",
    "space-infix-ops":"warn",
    "no-plusplus":"off",
    "no-tabs":"off",
    "no-var":"off",
    "no-use-before-define":"off",
    "vars-on-top":"off",
    "max-len":["error", 150],
    "func-names":"off",
    "import/extensions": ["error", "never", { "js": "always" }],
    "prefer-arrow-callback": "off",
    "max-classes-per-file": ["error", 3]
  }
}//prefer-arrow-callback